/*========== Button Dark/Light ==========*/
    .change-theme {
        position: absolute;
        right: 1.5rem;
        top: 2.2rem;
        color: var(--title-color);
        font-size: 1.8rem;
        cursor: pointer;
      }

    .button__header {
      display: none;
    }

  /*=============== HEADER ===============*/
  header {
    width: 100%;
    background-color: var(--body-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: .5s;
  }

  /* Change background header */
    .scroll-header {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  /*=============== NAV ===============*/
  .nav {
      height: var(--header-height);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;   
  }

  .nav__list {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
 
  }

  .nav__link, .nav__logo, .nav__toggle {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
  }

.nav__toggle {
    font-size: 1.3rem;
    cursor: pointer;
  }
  /* Active link */
.active-link {
    position: relative;
  }

  .active-link::before {
    content: '';
    position: absolute;
    bottom: -.75rem;
    left: 45%;
    width: 5px;
    height: 5px;
    transform: translate(-50%,-50%);
    background-color: var(--title-color);
    border-radius: 50%;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  
  }
  @media screen and (max-width: 767px) {
    .nav__menu {
      position: fixed;
      background-color: var(--container-color);
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
      padding: 2.5rem 0;
      width: 90%;
      top: -100%;
      left: 0;
      right: 0;
      margin: 0 auto;
      transition: .4s;
      border-radius: 2rem;
      z-index: var(--z-fixed);
    }
  }

   /* Show menu */
   .show-menu {
    top: calc(var(--header-height) + 1rem);
  }

  @media screen and (min-width: 767px) {
    .nav {
        height: calc(var(--header-height) + 1.5rem);
      }
      .nav__list {
        flex-direction: row;
        column-gap: 2.5rem;
      }
      .nav__toggle {
        display: none;
      }
      .change-theme {
        position: initial;
      }
  }

/* For large devices */
@media screen and (min-width: 968px) {
  .button__header {
    display: block;
  }

}
  @media screen and (min-width: 1024px) {
    .container {
      margin-left: auto;
      margin-right: auto;
    }
  }
  @keyframes example {

    0% {
      background-color: var(--title-color);
    
    }
    20%{
      background-color:   hsl(var(--hue), 4%, 30%);
    
    }
  
    40% {
      background-color:   hsl(var(--hue), 4%, 45%);
  
    }
  
    60%{
      background-color:   hsl(var(--hue), 4%, 60%);
     

    }
    80% {
      background-color:   hsl(var(--hue), 4%, 75%);
      
    }
    80% {
      background-color:   hsl(var(--hue), 4%, 90%);
      
    }
   
  }